
.main{
  width: 732px;
}
.main{
  padding: 20px 15px;
}
.main{
  border-width: 1px;
}
.sidebar{
  width: 355px;
}
.navi-footer-in > .menu-footer li{
  width: 130px;
}
/* .toc-content, */
.toc-checkbox {
  display: none;
}
.toc-content{
  visibility: hidden;
  /*display: block; */
  /* margin-top: -24px; */
  height: 0;
  opacity: 0.2;
  transition: all 0.5s ease-out;
}
.toc-checkbox:checked ~ .toc-content {
  /* display: block; */
  visibility: visible;
  padding-top: 0.6em;
  height: 100%;
  opacity: 1;
}
.toc-title::after{
  content: '[開く]';
  margin-left: 0.5em;
  cursor: pointer;
  font-size: 0.8em;
}
.toc-title:hover::after{
  text-decoration: underline;
}
.toc-checkbox:checked + .toc-title::after{
  content: '[閉じる]';
}#respond {
  display: none;
}
.entry-content > *,
.demo .entry-content p {
  line-height: 1.8;
}
    .main,
  .main p,
  .main p.wp-block-paragraph {
    line-height: 1.8;
  }
  .entry-content > *,
.article p,
.demo .entry-content p,
.article dl,
.article ul,
.article ol,
.article blockquote,
.article pre,
.article table,
.article .toc,
.body .article,
.body .column-wrap,
.body .new-entry-cards,
.body .popular-entry-cards,
.body .navi-entry-cards,
.body .box-menus,
.body .ranking-item,
.body .rss-entry-cards,
.body .widget,
.body .author-box,
.body .blogcard-wrap,
.body .login-user-only,
.body .information-box,
.body .question-box,
.body .alert-box,
.body .information,
.body .question,
.body .alert,
.body .memo-box,
.body .comment-box,
.body .common-icon-box,
.body .blank-box,
.body .button-block,
.body .micro-bottom,
.body .caption-box,
.body .tab-caption-box,
.body .label-box,
.body .toggle-wrap,
.body .wp-block-image,
.body .booklink-box,
.body .kaerebalink-box,
.body .tomarebalink-box,
.body .product-item-box,
.body .speech-wrap,
.body .wp-block-categories,
.body .wp-block-archives,
.body .wp-block-archives-dropdown,
.body .wp-block-calendar,
.body .ad-area,
.body .wp-block-gallery,
.body .wp-block-audio,
.body .wp-block-cover,
.body .wp-block-file,
.body .wp-block-media-text,
.body .wp-block-video,
.body .wp-block-buttons,
.body .wp-block-columns,
.body .wp-block-separator,
.body .components-placeholder,
.body .wp-block-search,
.body .wp-block-social-links,
.body .timeline-box,
.body .blogcard-type,
.body .btn-wrap,
.body .btn-wrap a,
.body .block-box,
.body .wp-block-embed,
.body .wp-block-group,
.body .wp-block-table,
.body .scrollable-table,
.body .wp-block-separator,
.body .wp-block,
.body .video-container,
.comment-area,
.related-entries,
.pager-post-navi,
.comment-respond,
.is-root-container > *,
[data-type="core/freeform"] {
  margin-bottom: 1.8em;
}
.article h2,
.article h3,
.article h4,
.article h5,
.article h6{
  margin-bottom: 1.62em;
}
@media screen and (max-width: 480px){
  .body,
  .menu-content{
    font-size: 16px;
  }
}
@media screen and (max-width:781px) {
  .wp-block-column{
    margin-bottom: 1.8em;
  }
}
@media screen and (max-width:599px) {
  .column-wrap > div{
    margin-bottom: 1.8em;
  }
}
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  margin-top: 2.4em;
}
.article .micro-top{
  margin-bottom: 0.36em;
}
.article .micro-bottom{
  margin-top: -1.62em;
}

.article .micro-balloon{
  margin-bottom: 0.9em;
}
.article .micro-bottom.micro-balloon{
  margin-top: -1.26em;
}

.blank-box.bb-key-color{
  border-color: #19448e;
}
.iic-key-color li::before{
  color: #19448e;
}
.blank-box.bb-tab.bb-key-color::before {
  background-color: #19448e;
}
.tb-key-color .toggle-button {
  border: 1px solid #19448e;
  background: #19448e;
  color: #fff;
}
.tb-key-color .toggle-button::before {
  color: #ccc;
}
.tb-key-color .toggle-checkbox:checked ~ .toggle-content {
  border-color: #19448e;
}
.cb-key-color.caption-box {
  border-color: #19448e;
}
.cb-key-color .caption-box-label {
  background-color: #19448e;
  color: #fff;
}
.tcb-key-color .tab-caption-box-label {
  background-color: #19448e;
  color: #fff;
}
.tcb-key-color .tab-caption-box-content {
  border-color: #19448e;
}
.lb-key-color .label-box-content {
  border-color: #19448e;
}
.mc-key-color {
  background-color: #19448e;
  color: #fff;
  border: none;
}
.mc-key-color.micro-bottom::after {
  border-bottom-color: #19448e;
  border-top-color: transparent;
}
.mc-key-color::before {
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.mc-key-color::after {
  border-top-color: #19448e;
}
.btn-key-color, .btn-wrap.btn-wrap-key-color > a {
  background-color: #19448e;
}
.has-text-color.has-key-color-color {
  color: #19448e;
}
.has-background.has-key-color-background-color {
  background-color: #19448e;
}
.body.article,
body#tinymce.wp-editor{
  background-color: #fff}
.body.article,
.editor-post-title__block .editor-post-title__input,
body#tinymce.wp-editor{
  color: #333}
.box-menu:hover{
  box-shadow: inset 2px 2px 0 0 #f6a068, 2px 2px 0 0 #f6a068, 2px 0 0 0 #f6a068, 0 2px 0 0
#f6a068;
}
.box-menu-icon{
  color: #f6a068;
}
@font-face {
  font-family: 'icomoon';
  src: url(http://localhost/wordpress/wp-content/themes/cocoon-master/webfonts/icomoon/fonts/icomoon.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}